<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="page-header">
            <h1>Issues
                <small th:text="${issuePeriod.id.dates}"></small>
            </h1>
        </div>
    </div>

    <div class="row">
        <th:block
                th:include="components/card :: card(6, 'primary', 'fa-calendar', ${issuePeriod.leadTime}, 'Leadtime medio')"/>
        <th:block
                th:include="components/card :: card(6, 'green', 'fa-tasks', ${#lists.size(issues)}, 'Histórias')"/>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#issues" data-toggle="tab">Issues</a></li>
        <li role="presentation"><a href="#leadTimeHistogram" data-toggle="tab">Histograma de leadtime</a></li>
        <li th:unless="${#strings.isEmpty(board.estimateCF)}" role="presentation"><a href="#estimatedChart" data-toggle="tab">Contagem de estimativa</a></li>
        <li th:unless="${#strings.isEmpty(board.systemCF)}" role="presentation"><a href="#leadTimeBySystem" data-toggle="tab">Lead time por sistema</a></li>
        <li th:unless="${#strings.isEmpty(board.systemCF)}" role="presentation"><a href="#tasksBySystem" data-toggle="tab">Histórias por sistema</a></li>
        <li th:unless="${#strings.isEmpty(board.estimateCF)}" role="presentation"><a href="#leadTimeBySize" data-toggle="tab">Lead time médio por tamanho de história</a>
        </li>
        <li role="presentation"><a href="#columnTimeAvg" data-toggle="tab">Média de tempo por coluna</a></li>
        <li role="presentation"><a href="#leadTimeByType" data-toggle="tab">Lead time por tipo</a></li>
        <li role="presentation"><a href="#tasksByType" data-toggle="tab">Histórias por tipo</a></li>
        <li th:unless="${#strings.isEmpty(board.projectCF)}" role="presentation"><a href="#leadTimeByProject" data-toggle="tab">Lead time por projeto</a></li>
        <li th:unless="${#strings.isEmpty(board.projectCF)}" role="presentation"><a href="#tasksByProject" data-toggle="tab">Histórias por
            projeto</a></li>
        <li th:unless="${#lists.isEmpty(board.leadTimeConfigs)}" role="presentation"><a href="#leadTimes" data-toggle="tab">Lead Times</a></li>
    </ul>

    <div class="panel panel-default bt-0">
        <div class="panel-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="issues">
                    <th:block th:include="issues/components/list :: list(${issues})"/>
                </div>
                <div role="tabpanel" class="tab-pane" id="leadTimeHistogram">
                    <th:block th:include="charts/histogram :: chart(${issuePeriod.histogram})"/>
                </div>
                <div th:unless="${#strings.isEmpty(board.estimateCF)}" role="tabpanel" class="tab-pane" id="estimatedChart">
                    <th:block th:include="charts/estimativeCount :: chart(${issuePeriod.estimated})"/>
                </div>
                <div th:unless="${#strings.isEmpty(board.systemCF)}" role="tabpanel" class="tab-pane" id="leadTimeBySystem">
                    <th:block th:include="charts/leadTimeBySystem :: chart(${issuePeriod.leadTimeBySystem})"/>
                </div>
                <div th:unless="${#strings.isEmpty(board.systemCF)}" role="tabpanel" class="tab-pane" id="tasksBySystem">
                    <th:block th:include="charts/tasksBySystem :: chart(${issuePeriod.tasksBySystem})"/>
                </div>
                <div th:unless="${#strings.isEmpty(board.estimateCF)}" role="tabpanel" class="tab-pane" id="leadTimeBySize">
                    <th:block th:include="charts/leadTimeBySize :: chart(${issuePeriod.leadTimeBySize})"/>
                </div>
                <div role="tabpanel" class="tab-pane" id="columnTimeAvg">
                    <th:block th:include="charts/columnTimeAvg :: list(${issuePeriod.columnTimeAvgs})"/>
                </div>
                <div role="tabpanel" class="tab-pane" id="leadTimeByType">
                    <th:block th:include="charts/leadTimeByType :: chart(${issuePeriod.leadTimeByType})"/>
                </div>
                <div role="tabpanel" class="tab-pane" id="tasksByType">
                    <th:block th:include="charts/tasksByType :: chart(${issuePeriod.tasksByType})"/>
                </div>
                <div th:unless="${#strings.isEmpty(board.projectCF)}" role="tabpanel" class="tab-pane" id="leadTimeByProject">
                    <th:block th:include="charts/leadTimeByProject :: chart(${issuePeriod.leadTimeByProject})"/>
                </div>
                <div th:unless="${#strings.isEmpty(board.projectCF)}" role="tabpanel" class="tab-pane" id="tasksByProject">
                    <th:block th:include="charts/tasksByProject :: chart(${issuePeriod.tasksByProject})"/>
                </div>
                <div th:unless="${#lists.isEmpty(board.leadTimeConfigs)}" role="tabpanel" class="tab-pane" id="leadTimes">
                    <th:block th:include="charts/issueLeadTimes :: chart(${issuePeriod.leadTimeCompareChart})"/>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right">
        <a th:href="@{/boards/{id}/issue-periods(id=${issuePeriod.id.boardId})}" class="btn btn-default">Voltar</a>
    </div>


</th:block>
</html>
