<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <script th:src="@{/dist/dist.min.js}" type="text/javascript"></script>
    <link th:href="@{/dist/dist.min.css}" rel="stylesheet"/>
</head>
<body>
    <th:block layout:replace="fragments/_menu" />
    <div class="container-fluid">
        <th:block layout:replace="fragments/_messages" />
        <div layout:fragment="content"></div>
    </div>

    <div id="loader"><i class="fa fa-file-text-o fa-spin"></i></div>
    <br/><br/>
</body>
</html>
