root = true

[*]
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true

[*.{kt,kts}]
max_line_length = 180
indent_size = 4
continuation_indent_size = 4

ktlint_standard_indent = disabled
ktlint_standard_string-template-indent = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_no-blank-line-in-list = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_no-empty-first-line-in-class-body = disabled
ktlint_standard_no-blank-line-before-rbrace = disabled
ktlint_standard_chain-method-continuation = disabled
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_parameter-list-wrapping = disabled
ktlint_standard_multiline-if-else = disabled
ktlint_standard_class-signature = disabled
