<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<th:block layout:fragment="content">

    <div class="page-header">
        <h1>Alterar Board <small th:text="${boardForm.name}"></small></h1>
    </div>

    <form th:action="@{/boards}" th:method="PUT" th:object="${boardForm}">
        <input type="hidden" th:field="*{id}" th:value="${boardForm.id}"/>

        <div class="form-group">
            <label>Nome</label>
            <input type="text" th:field="*{name}" class="form-control"/>
        </div>

        <div class="form-group">
            <label>Coluna inicial</label>
            <input type="text" th:field="*{startColumn}" class="form-control" id="input-startColumn"/>
        </div>

        <div class="form-group btn-group btn-group-sm">
            <a href="#" th:each="status : ${suggestedStatus}" class="btn btn-default" data-column-suggest="input-startColumn" data-column-suggest-unique="true">
                <span th:text="${status}"></span>
            </a>
        </div>

        <div class="form-group">
            <label>Coluna final</label>
            <input type="text" th:field="*{endColumn}" class="form-control" id="input-endColumn"/>
        </div>

        <div class="form-group btn-group btn-group-sm">
            <a href="#" th:each="status : ${suggestedStatus}" class="btn btn-default" data-column-suggest="input-endColumn" data-column-suggest-unique="true">
                <span th:text="${status}"></span>
            </a>
        </div>

        <div class="form-group">
            <label>Fluxo ordenado de colunas</label>
            <input type="text" id="fluxColumn" th:field="*{fluxColumn}" class="form-control"/>
        </div>

        <div class="form-group btn-group btn-group-sm">
            <a href="#" th:each="status : ${suggestedStatus}" class="btn btn-default" data-column-suggest="fluxColumn" data-column-suggest-prefix=", ">
                <span th:text="${status}"></span>
            </a>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#advancedConfigs" style="cursor: pointer"><i id="advancedConfigsIcon" class="fa fa-chevron-right"></i> Configurações Avançadas</div>

            <div class="panel-body collapse" id="advancedConfigs">
                <div class="form-group">
                    <label>Tipos de issues à serem ignorados</label>
                    <input type="text" th:field="*{ignoreIssueType}" class="form-control" id="input-ignoreIssueType"/>
                </div>

                <div class="form-group btn-group btn-group-sm">
                    <a href="#" th:each="issueType : ${boardForm.jiraProject.issueTypes}" class="btn btn-default" data-column-suggest="input-ignoreIssueType" data-column-suggest-prefix=", ">
                        <span th:text="${issueType.name}"></span>
                    </a>
                </div>

                <div class="form-group">
                    <label>Campo de Épico</label>
                    <select class="selectpicker" th:field="*{epicCF}" data-width="100%" data-live-search="true">
                        <option value="">Selecione</option>
                        <option th:each="jiraField : ${jiraFields}" th:value="${jiraField.id}">[[${jiraField.name}]] ([[${jiraField.id}]])</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Campo de tamanho/estimativa</label>
                    <select class="selectpicker" th:field="*{estimateCF}" data-width="100%" data-live-search="true">
                        <option value="">Selecione</option>
                        <option th:each="jiraField : ${jiraFields}" th:value="${jiraField.id}">[[${jiraField.name}]] ([[${jiraField.id}]])</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Campo de Sistemas</label>
                    <select class="selectpicker" th:field="*{systemCF}" data-width="100%" data-live-search="true">
                        <option value="">Selecione</option>
                        <option th:each="jiraField : ${jiraFields}" th:value="${jiraField.id}">[[${jiraField.name}]] ([[${jiraField.id}]])</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Campo de Projeto</label>
                    <select class="selectpicker" th:field="*{projectCF}" data-width="100%" data-live-search="true">
                        <option value="">Selecione</option>
                        <option th:each="jiraField : ${jiraFields}" th:value="${jiraField.id}">[[${jiraField.name}]] ([[${jiraField.id}]])</option>
                    </select>
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" th:field="*{calcDueDate}">Utiliza calculo de DueDate?</label>
                </div>

                <div class="form-group">
                    <label>Tipo de impedimento</label>
                    <select class="selectpicker" th:field="*{impedimentType}" data-width="100%" data-live-search="true" id="impedimentColumns-select">
                        <option value="">Selecione</option>
                        <option th:each="impedimentType : ${T(br.com.leonardoferreira.jirareport.domain.ImpedimentType).values()}" th:value="${impedimentType}" th:text="${impedimentType}"></option>
                    </select>
                </div>

                <div id="impedimentColumns-wrapper">
                    <div class="form-group">
                        <label>Colunas que contam impedimento (necessário apenas se o tipo de impedimento for COLUMN)</label>
                        <input type="text" id="impedimentColumns" th:field="*{impedimentColumns}" class="form-control"/>
                    </div>

                    <div class="form-group btn-group btn-group-sm">
                        <a href="#" th:each="status : ${suggestedStatus}" class="btn btn-default" data-column-suggest="impedimentColumns" data-column-suggest-prefix=", ">
                            <span th:text="${status}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right">
            <a th:href="@{/boards}"  class="btn btn-default">Voltar</a>
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </form>

</th:block>

</html>