jira:
    url: https://jira.url/jira

holiday:
  url: https://api.calendario.com.br/?json=true&token=anVsaW8uZmFsYm8ucmpAZ21haWwuY29tJmhhc2g9Mzg3MzA5NTI=&

spring:
  application:
    name: jirareport
  datasource:
    url: jdbc:postgresql://localhost:5432/jirareport
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
