<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="card(mdSize, color, icon, value, title)">
    <div th:classappend="'col-md-' + ${mdSize}">
        <div th:classappend="'panel panel-' + ${color}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i th:classappend="'fa fa-5x ' + ${icon}"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" th:text="${value}"></div>
                        <div th:text="${title}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>