<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="modal(issue, board, renderOtherLeadTimes)">

    <div class="modal fade" th:id="${issue.key}" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title text-center" th:text="${'Lead Times ' + issue.key}"></h2>
                </div>

                <div class="modal-body">
                    <h3 class="page-header" style="margin-top: 0">Lead time por coluna</h3>

                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Data</th>
                            <th>Coluna</th>
                            <th>LeadTime</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="changelog : ${issue.changelog}">
                            <td th:text="${#temporals.format(changelog.created, 'dd/MM/yyyy HH:mm:ss')}"></td>
                            <td th:text="${changelog.to}"></td>
                            <td th:text="${changelog.leadTime}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <th:block th:if="${renderOtherLeadTimes and !#lists.isEmpty(board.leadTimeConfigs) and !#lists.isEmpty(issue.leadTimes)}">
                        <br/>

                        <h3 class="page-header" style="margin-top: 0">Outros lead times</h3>

                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Coluna inicial</th>
                                <th>Coluna final</th>
                                <th>LeadTime</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="leadTime : ${issue.leadTimes}">
                                <td th:text="${leadTime.leadTimeConfig.name}"></td>
                                <td th:text="${leadTime.leadTimeConfig.startColumn}"></td>
                                <td th:text="${leadTime.leadTimeConfig.endColumn}"></td>
                                <td th:text="${leadTime.leadTime}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </th:block>

                    <th:block th:unless="${#strings.isEmpty(board.dueDateCF)}">
                        <br/>
                        <h3 class="page-header" style="margin-top: 0">Atualização de estimativas</h3>

                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Data de atualização</th>
                                <th>DueDate</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="dueDate : ${issue.dueDateHistory}">
                                <td th:text="${#temporals.format(dueDate.created, 'dd/MM/yyyy')}"></td>
                                <td th:text="${#temporals.format(dueDate.dueDate, 'dd/MM/yyyy')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </th:block>

                    <th:block th:unless="${#lists.isEmpty(board.touchingColumns) or #lists.isEmpty(board.waitingColumns) or issue instanceof T(br.com.leonardoferreira.jirareport.domain.vo.EstimateIssue)}">
                        <br/>
                        <h3 class="page-header" style="margin-top: 0">Eficiência</h3>

                        <p><strong>Touch time</strong>: [[${#numbers.formatDecimal(issue.touchTime / 60.0, 0, 'COMMA', 2, 'POINT')}]] Horas</p>
                        <p><strong>Wait time</strong>: [[${#numbers.formatDecimal(issue.waitTime / 60.0, 0, 'COMMA', 2, 'POINT')}]] Horas</p>
                        <p><strong>Eficiência</strong>: [[${issue.pctEfficiency}]]%</p>
                    </th:block>

                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
