<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="chart(dynamicChart)">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 th:text="${'Throughput por ' + dynamicChart.name}"></h3>
            </div>
            <div class="panel-body">
                <th:block
                        th:if="${dynamicChart.throughput?.hasData}"
                        th:include="components/chart/_doughnut :: chart(${'throughput_by_' + dynamicChart.id}, 'Throughput', ${dynamicChart.name}, ${dynamicChart.throughput})"/>
                <span th:unless="${dynamicChart.throughput?.hasData}">Nenhum registro encontrado</span>
            </div>
        </div>
    </div>
</th:block>
</html>
