<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<th:block th:fragment="form(method)">
    <form th:action="@{/holidays}" th:method="${method}" th:object="${holiday}">
        <input type="hidden" th:field="*{id}" th:value="${holiday.id}"/>

        <div class="form-group">
            <label>Data</label>
            <div class="input-group">
                <input type="text" class="form-control datepicker" th:field="*{date}" />
                <div class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </div>
            </div>
            <label th:errors="*{date}"></label>
        </div>

        <div class="form-group">
            <label>Descrição</label>
            <input type="text" th:field="*{description}" class="form-control" />
            <label th:errors="*{description}"></label>
        </div>

        <div class="text-right">
            <a th:href="@{/holidays}" class="btn btn-default">Voltar</a>
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </form>
</th:block>
</html>
