<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="page-header">
            <h1 th:text="'Feriados - ' + ${project.name}"></h1>
        </div>

        <div class="text-right">
            <a th:href="@{/projects/{projectId}/holidays/new(projectId=${project.id})}" class="btn btn-primary">Novo
                Feriado</a>

            <a data-method="POST" th:href="@{/projects/{projectId}/holidays/import(projectId=${project.id})}" class="btn btn-primary">Importar
                Feriados</a>
        </div>

        <br/> <br/>

        <div class="panel panel-default">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody class="search-list-name">
                <tr th:each="holiday : ${holidays}">
                    <td th:text="${holiday.date}"></td>
                    <td th:text="${holiday.description}"></td>
                    <td>
                        <a th:href="@{/holidays/{id}(id=${holiday.id})}"
                           data-method="DELETE" data-confirm="Tem certeza?" class="btn btn-xs btn-danger">Remover</a>
                        <a th:href="@{/holidays/edit/{id}(id=${holiday.id})}" class="btn btn-xs btn-primary">Alterar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
</html>
