<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="page-header">
            <h1 th:text="'Feriados - ' + ${board.name}"></h1>
        </div>

        <div class="text-right">
            <a th:href="@{/boards/{boardId}/holidays/new(boardId=${board.id})}" class="btn btn-primary">Novo
                Feriado</a>

            <a data-method="POST" th:href="@{/boards/{boardId}/holidays/import(boardId=${board.id})}" class="btn btn-primary">Importar
                Feriados</a>
        </div>

        <br/> <br/>

        <div class="panel panel-default">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="holiday : ${holidays.content}">
                    <td th:text="${#temporals.format(holiday.date, 'dd/MM/yyyy')}"></td>
                    <td th:text="${holiday.description}"></td>
                    <td>
                        <a th:href="@{/boards/{boardId}/holidays/{id}(boardId=${boardId},id=${holiday.id})}"
                           data-method="DELETE" data-confirm="Tem certeza?" class="btn btn-xs btn-danger">Remover</a>
                        <a th:href="@{/boards/{boardId}/holidays/edit/{id}(boardId=${boardId}, id=${holiday.id})}" class="btn btn-xs btn-primary">Alterar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="text-right">
            <th:block th:include="fragments/_pagination :: pagination(${holidays})" />
        </div>
    </div>
</th:block>
</html>
