<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="content" th:if="${flashSuccess}">
    <br/>
    <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        &nbsp; <th:block th:text="${flashSuccess}"></th:block>
    </div>
</div>
<div class="content" th:if="${flashError}">
    <br/>
    <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        &nbsp; <th:block th:text="${flashError}"></th:block>
    </div>
</div>
</html>