<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="pagination(list)">
    <nav th:with="currentUrl=(${@currentUrlWithoutParam.apply('page')})">
        <ul class="pagination">
            <li th:class="${list.number eq 0} ? 'disabled' : ''">
                <a th:if="${not list.first}" th:href="@{${currentUrl}(page=${list.number-1})}">&lt;</a>
                <a th:if="${list.first}" href="javascript:void(0);">&lt;</a>
            </li>

            <li th:each="pageNo : ${#numbers.sequence(list.number - 5, list.number + 5)}" th:class="${list.number eq pageNo}? 'active' : ''">
                <th:block th:if="${pageNo ge 0 and pageNo lt list.totalPages}">
                    <a th:if="${list.number eq pageNo}" href="javascript:void(0);">
                        <span th:text="${pageNo + 1}"></span>
                    </a>
                    <a th:if="${not (list.number eq pageNo)}" th:href="@{${currentUrl}(page=${pageNo})}">
                        <span th:text="${pageNo + 1}"></span>
                    </a>
                </th:block>
            </li>

            <li th:class="${list.number + 1 ge list.totalPages} ? 'disabled' : ''">
                <a th:if="${not list.last}" th:href="@{${currentUrl}(page=${list.number+1})}">&gt;</a>
                <a th:if="${list.last}" href="javascript:void(0);">&gt;</a>
            </li>
        </ul>
    </nav>
</th:block>
</html>