<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<th:block layout:fragment="content">
    <div class="page-header">
        <h1>Alterar configurações</h1>
    </div>

    <form th:action="@{/users}" th:method="PUT" th:object="${userConfigForm}">
        <div class="form-group">
            <label>Sigla do estado</label>
            <input type="text" th:field="*{state}" class="form-control"/>
        </div>

        <div class="form-group">
            <label>Cidade</label>
            <input type="text" th:field="*{city}" class="form-control"/>
        </div>

        <div class="form-group">
            <label>Token de feriados (<small><a href="http://www.calendario.com.br/api_feriados_municipais_estaduais_nacionais.php" target="_blank">Obter token</a></small>)</label>
            <input type="text" th:field="*{holidayToken}" class="form-control"/>
        </div>

        <div class="form-group">
            <label>Tipo de gráfico (Lead Times)</label>
            <select class="selectpicker" th:field="*{leadTimeChartType}" data-width="100%" id="leadTimeChartType-select">
                <option value="">Selecione</option>
                <option th:each="chartType : ${T(br.com.leonardoferreira.jirareport.domain.ChartType).values()}" th:value="${chartType}" th:text="${chartType}"></option>
            </select>
        </div>

        <div class="form-group">
            <label>Tipo de gráfico (Throughput)</label>
            <select class="selectpicker" th:field="*{throughputChartType}" data-width="100%" id="throughputChartType-select">
                <option value="">Selecione</option>
                <option th:each="chartType : ${T(br.com.leonardoferreira.jirareport.domain.ChartType).values()}" th:value="${chartType}" th:text="${chartType}"></option>
            </select>
        </div>


        <div class="text-right">
            <a th:href="@{/}" class="btn btn-default">Voltar</a>
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </form>
</th:block>
</html>
