.form-control[readonly] {
  background-color: #fff!important;
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0
}

.logo a {
    font-size: 25px;
    font-weight: 600;
    margin-top: -3px;
}

#side-menu li a {
    color: #6b6b6b;
}

.bt-0 {
  border-top: 0;
}

.panel-green {
    background-color: #5cb85c;
    color: white;
}

.huge {
    font-size: 40px;
}

#loader {
  padding-top: 20%;
  text-align: center;
  font-size: 5em;
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background-color: white;
  z-index: 999;
  display: none;
}