<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="list(issues)">
    <table class="table" data-toggle="table" id="issue-table">
        <thead>
        <tr>
            <th></th>
            <th data-field="task" data-sortable="true" data-sort-name="_task_data" data-sorter="sortByTask">História</th>
            <th data-field="issueType" data-sortable="true">Issue Type</th>
            <th data-field="startDate" data-sortable="true" data-sorter="sortByDate">Data inicio</th>
            <th data-field="leadTime" data-sortable="true">LeadTime</th>
            <th data-field="estimateDateAvg" data-sortable="true">Previsão média</th>
            <th data-field="estimateDatePercentile50" data-sortable="true">Percentil 50</th>
            <th data-field="estimateDatePercentile75" data-sortable="true">Percentil 75</th>
            <th data-field="estimateDatePercentile90" data-sortable="true">Percentil 90</th>
            <th data-field="impedimentTime" data-sortable="true" th:if="${board.impedimentType}">Tempo em impedimento</th>
            <th data-field="epic" data-sortable="true" th:unless="${#strings.isEmpty(board.epicCF)}">Epico</th>
            <th data-field="estimate" data-sortable="true" th:unless="${#strings.isEmpty(board.estimateCF)}">Estimativa</th>
            <th data-field="system" data-sortable="true" th:unless="${#strings.isEmpty(board.systemCF)}">Sistema</th>
            <th data-field="board" data-sortable="true" th:unless="${#strings.isEmpty(board.projectCF)}">Projeto</th>
            <th data-field="creator" data-sortable="true">Criador</th>
            <th data-field="priority" data-sortable="true">Prioridade</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="issue : ${issues}">
            <tr>
                <td class="text-center">
                    <button class="btn btn-xs btn-default" data-toggle="modal" th:attr="data-target=${'#' + issue.key}" title="Lead Times"><i class="fa fa-eye"></i></button>
                </td>
                <td th:attr="data-task=${issue.key}">
                    <th:block th:text="${issue.key + ' - ' + issue.summary}" />&nbsp;
                    <a target="_blank" th:href="${#jiraHelper.issueLink(issue.key)}" title="Ver issue no Jira"><i class="fa fa-external-link"></i></a>
                </td>
                <td th:text="${issue.issueType}"></td>
                <td th:text="${#temporals.format(issue.startDate, 'dd/MM/yyyy')}"></td>
                <td th:text="${issue.leadTime}"></td>
                <td th:text="${#temporals.format(issue.estimateDateAvg, 'dd/MM/yyyy')}"></td>
                <td th:text="${#temporals.format(issue.estimateDatePercentile50, 'dd/MM/yyyy')}"></td>
                <td th:text="${#temporals.format(issue.estimateDatePercentile75, 'dd/MM/yyyy')}"></td>
                <td th:text="${#temporals.format(issue.estimateDatePercentile90, 'dd/MM/yyyy')}"></td>
                <td th:if="${board.impedimentType}" th:text="${issue.impedimentTime}"></td>
                <td th:unless="${#strings.isEmpty(board.epicCF)}" th:text="${issue.epic}"></td>
                <td th:unless="${#strings.isEmpty(board.estimateCF)}" th:text="${issue.estimated}"></td>
                <td th:unless="${#strings.isEmpty(board.systemCF)}" th:text="${issue.system}"></td>
                <td th:unless="${#strings.isEmpty(board.projectCF)}" th:text="${issue.project}"></td>
                <td th:text="${issue.creator}"></td>
                <td th:text="${issue.priority}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <br>
    <div class="btn-group pull-right">
        <button class="btn btn-default" onclick="$('#issue-table').tableExport({type:'csv', fileName: 'Listagem de issues'});">Exportar para CSV</button>
        <button class="btn btn-default" onclick="$('#issue-table').tableExport({type:'excel', fileName: 'Listagem de issues'});">Exportar para Excel</button>
    </div>

    <th:block th:each="issue : ${issues}" th:include="issues/components/leadtime_modal :: modal(${issue}, ${board})"/>
</th:block>
</html>
