<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<th:block layout:fragment="content">
    <div class="page-header">
        <h1>Ops...</h1>
    </div>
    <div class="jumbotron">
        <h2>Ocorreu um erro interno, por favor tente novamente mais tarde.</h2>
        <br/>
        <h2>Para nos ajudar a corrigir o erro envie "[[${trace}]]" para um administrador.</h2>
    </div>
</th:block>
</html>

