<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<th:block layout:fragment="content">
    <div class="page-header">
        <h1>Ocorreu um erro tentando acessar um sistema externo</h1>
    </div>

    <div class="jumbotron" style="font-size: 22px;">
        <p th:if="${jiraError.message}"><strong>Mensagem:</strong> [[${jiraError.message}]]</p>

        <p th:if="${jiraError.statusCode}"><strong>Status:</strong> [[${jiraError.statusCode}]]</p>

        <th:block th:if="${jiraError.errorMessages}">
            <p>
                <strong>Erros:</strong>
                <ul>
                    <li th:each="error : ${jiraError.errorMessages}" th:text="${error}"></li>
                </ul>
            </p>
        </th:block>
    </div>

    <a href="#" class="btn btn-default" onclick="window.history.back();">Voltar</a>
</th:block>
</html>
