<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="page-header">
            <h1>Configuração de lead times <small th:text="${board.name}"></small></h1>
        </div>

        <div class="text-right">
            <a th:href="@{/boards/{boardId}/lead-time-configs/new(boardId=${board.id})}" class="btn btn-primary">Nova configuração de lead lime</a>
        </div>

        <br/> <br/>

        <div class="panel panel-default">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Coluna inicial</th>
                    <th>Coluna final</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="leadTimeConfig : ${leadTimeConfigs}">
                    <td th:text="${leadTimeConfig.name}"></td>
                    <td th:text="${leadTimeConfig.startColumn}"></td>
                    <td th:text="${leadTimeConfig.endColumn}"></td>
                    <td>
                        <a th:href="@{/boards/{boardId}/lead-time-configs/{id}(boardId=${board.id},id=${leadTimeConfig.id})}"
                           data-method="DELETE" data-confirm="Tem certeza?" class="btn btn-xs btn-danger">Remover</a>
                        <a th:href="@{/boards/{boardId}/lead-time-configs/edit/{id}(boardId=${board.id}, id=${leadTimeConfig.id})}" class="btn btn-xs btn-primary">Alterar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
</html>
