<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<th:block layout:fragment="content">

    <div class="container-fluid">
        <div class="page-header">
            <h1>Projetos</h1>
        </div>

        <form th:action="@{/projects}" th:method="PUT" th:object="${project}">
            <input type="hidden" th:field="*{id}" th:value="${project.id}"/>
            <div class="form-group">
                <label>Nome</label>
                <input type="text" th:field="*{name}" class="form-control" />
            </div>

            <div class="form-group">
                <label>startColumn</label>
                <input type="text" th:field="*{startColumn}" class="form-control" />
            </div>

            <div class="form-group">
                <label>endColumn</label>
                <input type="text" th:field="*{endColumn}" class="form-control" />
            </div>

            <div class="form-group">
                <label>epicCF</label>
                <input type="text" th:field="*{epicCF}" class="form-control" />
            </div>

            <div class="form-group">
                <label>estimateCF</label>
                <input type="text" th:field="*{estimateCF}" class="form-control" />
            </div>

            <div class="form-group">
                <label>systemCF</label>
                <input type="text" th:field="*{systemCF}" class="form-control" />
            </div>

            <div class="text-right">
                <a th:href="@{/projects}" class="btn btn-default">Voltar</a>
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
        </form>
    </div>

</th:block>

</html>