<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="page-header">
            <h1>Projetos</h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Filtro</h3>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <label>Nome</label>
                    <input type="text" class="search-input form-control" data-list=".search-list-name"/>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-right">
                    <a th:href="@{/projects/new}" class="btn btn-default">Novo projeto</a>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody class="search-list-name">
                    <tr th:each="project : ${projects}" th:attr="data-values=${project.name}">
                        <td th:text="${project.id}"></td>
                        <td th:text="${project.name}"></td>
                        <td>
                            <a th:href="@{/projects/{id}(id=${project.id})}" data-method="DELETE" data-confirm="Tem certeza?" class="btn btn-xs btn-danger">Remover</a>
                            <a th:href="@{/projects/{id}/edit(id=${project.id})}" class="btn btn-xs btn-default">Configurações</a>
                            <a th:href="@{/projects/{id}/issue-periods(id=${project.id})}" class="btn btn-xs btn-default">Issues</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
</html>