<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">

<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="page-header">
            <h1>Issues</h1>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Filtro</h3>
        </div>
        <form th:action="@{/projects/{id}/issues(id=${projectId})}" th:object="${issueForm}">
            <div class="panel-body row">
                <div class="form-group col-md-6">
                    <label>Data Inicio</label>

                    <div class="input-group">
                        <input type="text" class="form-control datepicker" th:field="*{startDate}" />
                        <div class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                    <label th:errors="*{startDate}"></label>
                </div>
                <div class="form-group col-md-6">
                    <label>Data Fim</label>

                    <div class="input-group">
                        <input type="text" class="form-control datepicker" th:field="*{endDate}" />
                        <div class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                    <label th:errors="*{endDate}"></label>
                </div>

                <div class="form-group col-md-4">
                    <label>Keys excluidas</label>
                    <div>
                        <select class="selectpicker" multiple="" th:field="*{keys}" data-width="100%" id="select-keys">
                            <option th:each="key : ${sandBoxFilter.keys}" th:value="${key}" th:text="${key}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label>Sistema</label>
                    <div>
                        <select class="selectpicker" multiple="" th:field="*{systems}" data-width="100%">
                            <option th:each="system : ${sandBoxFilter.systems}" th:value="${system}" th:text="${system}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label>Tamanho de história</label>
                    <div>
                        <select class="selectpicker" multiple="" th:field="*{taskSize}" data-width="100%">
                            <option th:each="estimative : ${sandBoxFilter.estimatives}" th:value="${estimative}" th:text="${estimative}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label>Épico</label>
                    <div>
                        <select class="selectpicker" multiple="" th:field="*{epics}" data-width="100%">
                            <option th:each="epic : ${sandBoxFilter.epics}" th:value="${epic}" th:text="${epic}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label>Issue Types</label>
                    <div>
                        <select class="selectpicker" multiple="" th:field="*{issueTypes}" data-width="100%">
                            <option th:each="issueType : ${sandBoxFilter.issueTypes}" th:value="${issueType}" th:text="${issueType}"></option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <div class="text-right">
                    <a th:href="@{/projects}" class="btn btn-default">Voltar</a>
                    <button type="submit" class="btn btn-success">Filtrar</button>
                </div>
            </div>
        </form>
    </div>

    <th:block th:if="${sandBox.issues != null} and ${!#lists.isEmpty(sandBox.issues)}">
        <div class="row">
            <th:block th:include="components/card :: card(6, 'primary', 'fa-calendar', ${sandBox.leadTime}, 'Leadtime medio')" />
            <th:block th:include="components/card :: card(6, 'green', 'fa-tasks', ${#lists.size(sandBox.issues)}, 'Histórias')" />
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#issues" data-toggle="tab">Issues</a></li>
            <li role="presentation"><a href="#leadTimeHistogram" data-toggle="tab">Histograma de leadtime</a></li>
            <li role="presentation"><a href="#estimatedChart" data-toggle="tab">Contagem de estimativa</a></li>
            <li role="presentation"><a href="#leadTimeBySystem" data-toggle="tab">LeadTime por sistema</a></li>
            <li role="presentation"><a href="#tasksBySystem" data-toggle="tab">Histórias por sistema</a></li>
            <li role="presentation"><a href="#leadTimeBySize" data-toggle="tab">Leadtime médio por tamanho de história</a></li>
            <li role="presentation"><a href="#columnTimeAvg" data-toggle="tab">Média de tempo por coluna</a></li>
        </ul>

        <div class="panel panel-default bt-0">
            <div class="panel-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="issues">
                        <th:block th:include="issues/components/index :: list(${sandBox.issues})" />
                    </div>
                    <div role="tabpanel" class="tab-pane" id="leadTimeHistogram">
                        <th:block th:include="issue-periods/components/histogram :: chart(${sandBox.chartAggregator.histogram})" />
                    </div>
                    <div role="tabpanel" class="tab-pane" id="estimatedChart">
                        <th:block th:include="issue-periods/components/estimativeCount :: chart(${sandBox.chartAggregator.estimated})" />
                    </div>
                    <div role="tabpanel" class="tab-pane" id="leadTimeBySystem">
                        <th:block th:include="issue-periods/components/leadTimeBySystem :: chart(${sandBox.chartAggregator.leadTimeBySystem})" />
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tasksBySystem">
                        <th:block th:include="issue-periods/components/tasksBySystem :: chart(${sandBox.chartAggregator.tasksBySystem})" />
                    </div>
                    <div role="tabpanel" class="tab-pane" id="leadTimeBySize">
                        <th:block th:include="issue-periods/components/leadTimeBySize :: list(${sandBox.chartAggregator.leadTimeBySize})" />
                    </div>
                    <div role="tabpanel" class="tab-pane" id="columnTimeAvg">
                        <th:block th:include="issue-periods/components/columnTimeAvg :: list(${sandBox.chartAggregator.columnTimeAvg})" />
                    </div>
                </div>
            </div>
        </div>
    </th:block>
    <th:block th:if="${sandBox.issues == null} or ${#lists.isEmpty(sandBox.issues)}">
        <div class="jumbotron text-center">
            <h4>Nenhum registro encontrado</h4>
        </div>
    </th:block>

</th:block>
</html>
